body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #313e4c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Container for the search bar and results */

/* Search results */
.searchResults {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  z-index: 2;
  color: white;
  background-color: #5f6973;
  border: 2px solid black;
  border: none;
  border-radius: 10px;
}

.search-container input[type="text"] {
  width: 60%;
  height: 40px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #5f6973;
  margin-left: 0px;
  color: white;
}

input::placeholder {
  color: white;
}

.responsive-logo {
  width: 20vw; /* Adjust as needed */
  height: auto;
  max-width: 100%;
  float: left;
  width: 33.33%;
}

.search-container {
  display: flex;
  align-items: bottom;
  float: left;
  width: 66.66%;
  padding-top: 15px;
}

/* Clear floats after the columns */
.row {
  margin: 0;
  display: flex;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.search {
  display: flex;
  justify-content: center;
}

.searchBar {
  align-items: center;
}
